* {
  margin: 0;
}

H1,
H2,
H3 {
  font-family: roc-grotesk, sans-serif;
  font-weight: 600;
  font-style: normal;
}

H3 {
  font-size: 32px;
}

p,
a {
  font-family: gopher, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
}

a {
  text-decoration: none;
}


header {
  background-image: url("../images/header-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 80vh;
  text-align: center;
  padding: 10vh;
}
#nav-button{
  display: flex;
  text-align: center;
  position: fixed;
  z-index: 11;
  right: 0;
  height: 50px;
  width: 50px;
  color: #fff;
  background-color: #121212;
  border-radius: 50%;
  margin: 15px;
}
#nav-button img{
  margin:auto;
}
.mobile-navigation-flex{
  height: 100vh;
  width: 100vw;
  background-color: #5B1BDB;
  opacity: .95;
  position: fixed;
  z-index: 10;
  display: flex;
}
.mobile-navigation-items{
  text-align: center;
  width: 80%;
  margin: auto;
  padding-bottom: 30px;
}
.mobile-navigation-items a{
  display: block;
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
}
#mobile-nav{
  display: none;
}
#nav-button{
  display: none;
}
.close-button{
  left: 0;
}
.logo img {
  width: 170px;
  margin-left: 100px;
}

.top-bar {
  width: 92%;
  float: right;
  padding: 30px 0;
  position: absolute;
  left: 7%;
}

.header-some-icons {
  margin-top: 10px;
}

.header-some-icons img {
  width: 55px;
}

.side-bar {
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 8%;
  float: left;
}

.header-container {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-top: -60px;
}

.header-container div {
  margin: auto;
}

.header-headline {
  margin-left: 100px;
  margin-top: -300px;
  z-index: 2;
}

.header-headline H1 {
  color: #5B1BDB;
  font-size: 90px;
  margin-right: -280px;
}

.header-headline H3 {
  color: #5B1BDB;
  font-weight: 400;
  font-size: 60px;
  margin-top: -40px;
  margin-right: -270px;
}

.header-img {
  align-self: flex-end;
  margin-left: -150px;
  margin-top: -200px;
}

.header-img img {
  max-width: 700px;
  width: 100%;
}

/* BACKGROUND COLORS */
.background-orange {
  background: #FA7B26 !important;
}

.background-blue {
  background: #5B1BDB !important;
}

/* SPLIT VIEW */
.section-split-view {
  height: 100vh;
  position: relative;
  background: url("") no-repeat center center fixed;
}

.split-view-button {
  font: 1.2em Gopher;
  background: #FA7B26;
  color: #ECE9E1;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 50px;
}

.split-view-orange {
  background-color: #FA7B26;
}

.split-view-bg-blue {
  background: url("../images/texture/bg.png");
}

.split-view-bg-orange {
  background: url("../images/texture/bg1.png");
}

.split-view-bg-yellow {
  background: url("../images/texture/bg2.png");
}

.split-view-grey {
  background-color: #ECE9E1;
}

.split-view-orange {
  background-color: #FA7B26;
}

.split-view-blue {
  background-color: #5B1BDC;
}

.split-view-img-1 {
  background-image: url("../images/illustrations/inverted.jpg");
}

.split-view-img-2 {
  background-image: url("../images/illustrations/inverted_02.jpg");
}

.split-view-img-3 {
  background-image: url("../images/illustrations/inverted_03.jpg");
}

.split-view-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.split-view-text-wrapper {
  margin: auto;
}

.split-view-text {
  padding: 50px;
  padding-left: 90px;
  place-self: center stretch;
}

.split-view-text H2 {
  font-weight: 400;
}

.split-view-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  height: 70vh;
  background-color: #5B1BDC;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 30px;
}

footer H1 {
  color: #fff;
  font-weight: 400;
  margin: 70px 0;
}

.get-in-touch a {
  width: 100%;
  color: #fff;
  margin-top: 50px;
}

.footer-icons {
  padding-top: 20px;
  width: 100%;
  display: inline-block;
  margin: auto;
}

.footer-icon {
  display: inline-block;
}

.carloasw H2 {
  margin: 50px 0;
}

/* BORDERS COLORS */
.border-orange {
  border-color: #FA7B26 !important;
}

.border-blue {
  border-color: #5B1BDB !important;
}

/* FONT COLORS */
.font-orange {
  color: #FA7B26 !important;
}

.font-blue {
  color: #5B1BDB !important;
}

.font-white {
  color: #ECE9E1 !important;
}

.font-black {
  color: #121212 !important;
}

.button {
  margin: 30px;
  font: 1.2em Gopher;
  background: #FA7B26;
  color: #ECE9E1;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 50px;
}

.side-navigation-item-wrappper div {
  display: block;
}

.button-blue {
  background: #5B1BDB;
  color: #ECE9E1;
}

.side-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  height: 100%;
  border-left: 3px solid #fff;
  margin-left: 25px;
  padding-left: 20px;
  z-index: 1;
}
.navigation-portfolios{
  left: 25px;
}
/* CIRLCE */
.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

input {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
}

.circle-content-wrapper {
  width: 400px;
  height: 320px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 270px;
  left: 0;
  right: 0;
  text-align: center;
}

.section-circle {
  position: relative;
  padding: 50px 0;
  position: relative;
  background: url("../images/texture/bg.png") no-repeat center center fixed;
  background-color: #ECE9E1;
}

#circle-progress {
  display: none;
}

.circle-wrapper {
  width: 700px;
  height: 700px;
  margin: auto;
}

.circle-icon{
  position: absolute;
}
.circle-icon svg{
  max-width: 140px;
}
#icon-1{
  bottom: 40px;
  left: calc(40% - 70px);
}
#icon-2{
  top: -100px;
  left: calc(40% - 70px);
}
#icon-3{
  top: calc(40% - 70px);
  right: calc(28% - 70px);
}
.progress-ring {}

.button-play {
  border: none;
  background: #5B1EDB;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
  left: 190px;
  transition: all .5s;
}

.button-play:hover {
  background: #2F1C57;
  transition: all .5s;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#headline-replace {
  float: left;
  color: #5C1CDB;
  font-weight: 400 !important;
}

#headline-replace-2 {
  float: right;
  color: #5C1CDB;
}

#p-replace {
  margin-top: 15px;
  float: left;
}

input {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
}

/* BLUE SIDE NAVIGATION */
.side-navigation-blue .dot {
  border-color: #5B1BDB !important;
}

.side-navigation-blue .side-navigation-item {
  background: #5B1BDB !important;
  color: #fff !important;
}

.side-navigation-blue #dot-active {
  background: #5B1BDB !important;
}

.side-navigation-blue .dot:hover {
  background: #5B1BDB !important;
}

/* END OF BLUE SIDE NAVIGATION */


.side-navigation a {
  color: #121212;
  z-index: 2;
}

.side-navigation-item {
  display: block;
  background: #fff;
  padding: 7px 15px;
  opacity: 0;
  transition: all .2s;
}

.dot {
  content: '';
  width: 18px;
  height: 18px;
  top: calc(50% - 12px);
  border: 2px solid;
  border-color: #fff;
  background: #fff;
  box-sizing: border-box;
  border-radius: 20px;
  z-index: 1;
  float: left;
  margin-left: -30px;
  margin-top: 10px;
  transition: all .3s;
}

.dot:hover+.side-navigation-item {
  opacity: 1;
  transition: all .7s;
}

.dot:hover {
  background: #FFF !important;
  border: none;
  width: 24px;
  height: 24px;
  margin-left: -33px;
  transition: all .3s;
}

#dot-active {
  background: #FFF;
  border: none;
  width: 24px;
  height: 24px;
  margin-left: -33px;
}

#active {
  opacity: 1;
}


/* CSS CODE FOR THE "WHO WE ARE" SECTION (Coded by Marius) */

.background_whoweare {
  position: relative;
  background: url("../images/texture/bg1.png") no-repeat center center fixed;
  background-color: #5B1BDB;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  margin: auto;
}

.flexbox_whoweare {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.textbox_whoweare {
  width: 41vw;
}

.header_whoweare {
  text-align: left;
  font: bold 2vw/3.5vw Roc Grotesk;
  color: #ECE9E1;
}

.body_whoweare {
  text-align: left;
  font: 1.1vw/2.4vw Gopher;
  color: #ECE9E1;
  margin-top: 2vw;
}

.button_whoweare {
  background: #FA7B26;
  text-align: center;
  font: 1.3vw/1.6vw Gopher;
  color: #ECE9E1;
  text-transform: uppercase;
  padding: 0.7vw 3.4vw;
  float: right;
  margin-top: 3vw;

}

.icon_select {
  position: absolute;
  margin-top: 4.5vw;
  margin-left: 24vw;
  width: 4.6vw;
  height: 4.7vw;
}

.illustration_splash {
  position: absolute;
  top: 4.9vw;
  left: -2vw;
  width: 14vw;
  height: 3vw;
  z-index: -1;
}

.illustration_whoarewe {
  width: 38vw;
  height: 17.9vw;
}

/* END OF THE CSS CODE FOR THE "WHO WE ARE" SECTION */

/* CSS CODE FOR THE "BECOME A MEMBER" SECTION (Coded by Marius) */

.background_becomemember {
  position: relative;
  background: url("../images/texture/bg2.png") no-repeat center center fixed;
  background-color: #FA7B26;
  width: 100vw;
  height: 100vh;
}

.flexbox_becomemember {
  margin: 0;
  position: absolute;
  top: 30vw;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.textbox_becomemember {
  width: 41vw;
  margin-top: 3vw;
}


.illustration_becomemember {
  margin-left: 10vw;
  width: 25vw;
  height: 32.7vw;

}


/* END OF THE CSS CODE FOR THE "BECOME A MEMBER" SECTION */

/* CSS CODE FOR THE "EVENTS" SECTION (Coded by Marius) */


.background_events {
  position: relative;
  background: url("../images/texture/bg.png") no-repeat center center fixed;
  background-color: #ECE9E1;
  width: 100vw;
  height: 130vh;

}

.section_events {
  position: absolute;
  width: 61.5vw;
  height: auto;
  top: 4vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.flexbox_events {
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box_events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 61.5vw;
  margin-bottom: 2vw;
}

.event_date {
  text-align: right;
  font: bold 1.48vw/2vw gopher;
  color: #121212;
  text-transform: uppercase;
}

.event_image {
  background: url("../images/events/event0.jpg");
  background-size: cover;
  width: 22.1vw;
  height: 13.1vw;
}

.event_image1 {
  background: url("../images/events/event1.jpg");
  background-size: cover;
  width: 22.1vw;
  height: 13.1vw;
}

.event_image2 {
  background: url("../images/events/event2.jpg");
  background-size: cover;
  width: 22.1vw;
  height: 13.1vw;
}

.event_textbox {
  width: 33vw;
  max-height: 248px;
}

.event_title {
  text-align: left;
  font: bold 1.48vw/2vw gopher;
  color: #121212;
  text-transform: uppercase;
}

.event_description {
  margin-top: 1.5vw;
  margin-bottom: 1vw;
  text-align: left;
  font: 1.16vw/2.44vw Gopher;
  color: #121212;
}

.event_button {
  text-align: left;
  font: bold 1.16vw/2.44vw Gopher;
  color: #121212;
}




/* END OF THE CSS CODE FOR THE "EVENTS" SECTION */

.background_scrolling {
  position: relative;
  background-color: #ECE9E1;
  width: 100vw;
  height: 350vh;
}

.background_texture_scrolling {
  background: url("../images/texture/bg3.png") no-repeat center center fixed;
  width: 100vw;
  height: 100%;
}


/* CSS CODE FOR THE "MEMBERS" SECTION (Coded by Marius) */

.section_members {
  width: 49.3vw;
  height: 44.2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;

}

.members_title {
  text-align: left;
  font: bold 2vw/0vw Roc Grotesk;
  color: #5B1BDB;
  margin-bottom: 2vw;
}

.flexbox_members {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.size {
  width: 8.3vw;
  height: 8.3vw;
}


.box_member0 {
  background: url("../images/members/member0.png");
  background-size: cover;

}

.box_member1 {
  background: url("../images/members/member1.png");
  background-size: cover;

}

.box_member2 {
  background: url("../images/members/member2.png");
  background-size: cover;

}

.box_member3 {
  background: url("../images/members/member3.png");
  background-size: cover;

}

.box_member4 {
  background: url("../images/members/member4.png");
  background-size: cover;

}

.box_member5 {
  background: url("../images/members/member5.png");
  background-size: cover;

}

.box_member6 {
  background: url("../images/members/member6.png");
  background-size: cover;

}

.box_member7 {
  background: url("../images/members/member7.png");
  background-size: cover;

}

.box_member8 {
  background: url("../images/members/member8.png");
  background-size: cover;

}

.box_member9 {
  background: url("../images/members/member9.png");
  background-size: cover;

}

.box_member10 {
  background: url("../images/members/member10.png");
  background-size: cover;

}

.box_member11 {
  background: url("../images/members/member11.png");
  background-size: cover;

}

.box_member12 {
  background: url("../images/members/member12.png");
  background-size: cover;

}

.box_member13 {
  background: url("../images/members/member13.png");
  background-size: cover;

}

.box_member14 {
  background: url("../images/members/member14.png");
  background-size: cover;

}

.box_member15 {
  background: url("../images/members/member15.png");
  background-size: cover;

}

.box_member16 {
  background: url("../images/members/member16.png");
  background-size: cover;

}

.box_member17 {
  background: url("../images/members/member17.png");
  background-size: cover;

}

.overlay {
  position: relative;
  width: 8.3vw;
  height: 8.3vw;
  opacity: 0;
  transition: .8s ease;
  background-color: #5B1BDB;
  text-align: center;

}

.text_overlay {
  line-height: 1.2vw;
  color: #ECE9E1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.box_member0:hover .overlay,
.box_member1:hover .overlay,
.box_member2:hover .overlay,
.box_member3:hover .overlay,
.box_member4:hover .overlay,
.box_member5:hover .overlay,
.box_member6:hover .overlay,
.box_member7:hover .overlay,
.box_member8:hover .overlay,
.box_member9:hover .overlay,
.box_member10:hover .overlay,
.box_member11:hover .overlay,
.box_member12:hover .overlay,
.box_member12:hover .overlay,
.box_member13:hover .overlay,
.box_member14:hover .overlay,
.box_member15:hover .overlay,
.box_member16:hover .overlay,
.box_member17:hover .overlay {
  opacity: 1;
}

/* END OF THE CSS CODE FOR THE "MEMBERS" SECTION */

/* CSS CODE FOR THE "PORTFOLIOS" SECTION (Coded by Marius) */
.section_portfolios {
  position: absolute;
  width: 619px;
  height: auto;
  top: 120.5vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.flexbox_portfolios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column_portfolios {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_portfolio0 {
  width: 286px;
  height: 566px;
}

.box_portfolio1 {
  width: 286px;
  height: 520px;
}

.box_portfolio2 {
  width: 286px;
  height: 569px;
}

.box_portfolio3 {
  width: 286px;
  height: 520px;
}

.box_portfolio4 {
  width: 286px;
  height: 569px;
}

.portfolio0 {
  background: url("../images/portfolios/portfolio0.png");
  background-size: cover;
  width: 286px;
  height: 445px;

}

.portfolio1 {
  background: url("../images/portfolios/portfolio1.png");
  background-size: cover;
  width: 286px;
  height: 399px;

}

.portfolio2 {
  background: url("../images/portfolios/portfolio2.png");
  background-size: cover;
  width: 286px;
  height: 448px;

}

.portfolio3 {
  background: url("../images/portfolios/portfolio3.png");
  background-size: cover;
  width: 286px;
  height: 399px;

}

.portfolio4 {
  background: url("../images/portfolios/portfolio4.png");
  background-size: cover;
  width: 286px;
  height: 448px;

}

.portfolio_title {
  text-align: left;
  font: normal normal medium 28px/38px Roc Grotesk;
  color: #121212;
  margin-top: 15px;
}

.portfolio_description {
  text-align: left;
  font: normal normal medium 22px/30px Gopher;
  color: #FA7B26;
}

/* END OF THE CSS CODE FOR THE "PORTFOLIOS" SECTION */

/* FOOTER SECTION */

.footer {
  padding: 10% 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: url("../images/texture/bg1.png") no-repeat center center fixed;
  background-color: #5B1BDB;
}

.facebook,
.instagram {
  width: 3.50vw;
  height: 3vw;
  margin-bottom: 1.6vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

/* END OF THE FOOTER SECTION */


/* CSS CODE FOR "OUR STORY" PAGE: Present time section (Coded by Vlada) */
.background-present {
  background: url("../images/texture/bg2.png") no-repeat center center fixed;
  background-color: #FA7B26;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.flex-img-text {
  display: flex;
  flex-direction: row;
}

.flex-text {
  padding-top: 15vw;
  padding-left: 16vw;
  padding-right: 8vw;
}

.splash-present {
  position: absolute;
  top: 14.5vw;
  left: 15vw;
  width: 14vw;
  height: 3vw;
  z-index: -1;
}

.text-present {
  text-align: left;
  font: 1.5vw/2vw Roc Grotesk;
  color: #ECE9E1;
}

.img-story {
  display: block;
  max-width: 47%;
}

/* END OF CSS CODE FOR "OUR STORY" PAGE: Present time section (Coded by Vlada) */

/* CSS CODE FOR "OUR STORY" PAGE: Petition section (Coded by Vlada) */
.background-support {
  position: relative;
  background: url("../images/texture/bg.png") no-repeat center center fixed;
  background-color: #ECE9E1;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.flex-img-text2 {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.text-support {
  padding-top: 5vw;
  padding-left: 16vw;
  padding-right: 8vw;
}

.splash-support {
  position: absolute;
  top: 4.5vw;
  left: 15vw;
  width: 14vw;
  height: 3vw;
  z-index: -1;
}

.head-support {
  text-align: left;
  font: 1.5vw/2vw Roc Grotesk;
  color: #121212;
}

.support-text {
  text-align: left;
  font: 1.1vw/2vw Gopher;
  color: #121212;
}

.btn-sup {
  display: block;
  margin: 0 auto;
  margin-top: 1.3vw;
  width: 30%;
  text-align: center;
  z-index: 5;
}

.btn-sup:hover {
  background-color: #5B1BDB;
  transition: background-color .3s;
}

.hands-sup {
  position: absolute;
  left: 19vw;
  bottom: 1.5vw;
  width: 4.6vw;
  height: 4.7vw;
  z-index: 1;
}

/* END OF CSS CODE FOR "OUR STORY" PAGE: Petition section (Coded by Vlada)*/

/* CSS CODE FOR "OUR STORY" PAGE: Footer (Coded by Vlada) */
.story-footer {
  position: relative;
  background: url("../images/texture/bg1.png") no-repeat center center fixed;
  background-color: #5B1BDB;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.story-head {
  height: 80vh;
  z-index: 2;
}

.story-logo {
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-top: 50px;
}

.story-text {
  text-align: center;
  font: 1.5vw/2vw Gopher;
  color: #ECE9E1;
  margin-top: 100px;
}

.btn-story {
  display: block;
  margin: 0 auto;
  margin-top: 1.3vw;
  width: 12%;
  text-align: center;
  font: 1em Gopher;
  background: #FA7B26;
  color: #ECE9E1;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 5px;
  z-index: 5;
}

.btn-story:hover {
  background-color: #5B1BDB;
  transition: background-color .3s;
}

.story-contact {
  display: block;
  text-align: center;
  color: #ECE9E1;
  font: 1.5vw/2vw Gopher;
  text-decoration: underline;
}

.some-story {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.story-icon {
  margin: 5px;
  width: 3vw;
  z-index: 5;
}

.copyright {
  text-align: center;
  font: 0.8vw/2vw Roc Grotesk;
  color: #ECE9E1;
  text-decoration: underline;
}

/* END OF CSS CODE FOR "OUR STORY" PAGE: Footer (Coded by Vlada) */

@media only screen and (max-width: 1200px) {
  .split-view-grid-container {
    grid-template-columns: 1fr;
  }

  .split-view-img {
    height: 500px;
    background-position: top;
  }

  .header-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 100px;
  }

  .header-headline {
    padding-top: 0;
    margin-top: -50px;
    margin-left: -50px;
  }

  .header-headline H1 {
    font-size: 60px;
    font-weight: 400;
    margin-right: 0;
  }

  .header-headline H3 {
    font-weight: 400;
    font-size: 40px;
    margin-top: -20px;
    margin-right: -270px;
  }

  .header-img {
    margin-left: -150px;
    margin-top: -100px;
    margin: auto;
  }

  .header-img img {
    max-width: 400px;
    width: 100%;
  }

  .background_whoweare {
    position: relative;
    background: url("../images/texture/bg1.png") no-repeat center center fixed;
    background-color: #5B1BDB;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    margin: auto;
  }

  .flexbox_whoweare {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



  .textbox_whoweare {
    width: 500px;
  }

  .header_whoweare {
    text-align: left;
    font: bold 26px/36px Roc Grotesk;
    color: #ECE9E1;
  }

  .body_whoweare {
    text-align: left;
    font: 16px/36px Gopher;
    color: #ECE9E1;
    margin-top: 20px;
  }

  .button_whoweare {
    background: #FA7B26;
    text-align: center;
    font: 18px/30px Gopher;
    color: #ECE9E1;
    text-transform: uppercase;
    padding: 4px 30px;
    float: right;
    margin-top: 20px;

  }

  .icon_select {
    position: absolute;
    margin-top: 40px;
    margin-left: 295px;
    width: 60px;
    height: 63px;
  }

  .illustration_splash {
    position: absolute;
    top: 55px;
    left: -25px;
    width: 172px;
    height: 35px;
    z-index: -1;
  }

  .illustration_whoarewe {
    width: 500px;
    height: 234px;
  }

  .flexbox_becomemember {
    margin: 0;
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .textbox_becomemember {
    width: 500px;
    margin-top: 0;
  }

  .illustration_becomemember {
    margin-left: 0;
    width: 274px;
    height: 360px;
    margin: 0 auto;
    margin-top: 50px;

  }

  .background_events {
    height: 110vh;

  }

  .section_events {
    width: 70vw;
    margin: 0 auto;
    margin-top: 10%;

  }

  .flexbox_events {
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .box_events {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    margin-bottom: 25px;
  }

  .event_date {
    text-align: right;
    font: bold 1.6vw gopher;
    color: #121212;
    text-transform: uppercase;
  }

  .event_image {
    background: url("../images/events/event0.jpg");
    background-size: cover;
    width: 25vw;
    height: 15vw;
  }

  .event_image1 {
    background: url("../images/events/event1.jpg");
    background-size: cover;
    width: 25vw;
    height: 15vw;
  }

  .event_image2 {
    background: url("../images/events/event2.jpg");
    background-size: cover;
    width: 25vw;
    height: 15vw;
  }

  .event_textbox {
    width: 40vw;
    max-height: 15vw;
  }

  .event_title {
    text-align: left;
    font: bold 1.6vw gopher;
    color: #121212;
    text-transform: uppercase;
  }

  .event_description {
    text-align: left;
    font: 1.4vw/2.7vw Gopher;
    color: #121212;
    margin-bottom: 1vw;
  }

  .event_button {
    text-align: left;
    font: bold 1.4vw Gopher;
    color: #121212;
  }

  .members_title {
    text-align: left;
    font: bold 3vw Roc Grotesk;
    color: #5B1BDB;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  .section_members {
    width: 49.3vw;
    height: 44.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;

  }

}

@media only screen and (max-width: 700px) {
  .side-navigation{
    display: none;
  }
  #nav-button{
    display: flex;
  }
  .background_scrolling {
    height: 300vh;
  }
  .section_portfolios {
    position: absolute;
    width: 425px;
    height: auto;
    top: 120.5vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .flexbox_portfolios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .column_portfolios {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .box_portfolio0 {
    width: 195px;
    height: 389px;
  }

  .box_portfolio1 {
    width: 195px;
    height: 357px;
  }

  .box_portfolio2 {
    width: 195px;
    height: 391px;
  }

  .box_portfolio3 {
    width: 195px;
    height: 356px;
  }

  .box_portfolio4 {
    width: 195px;
    height: 391px;
  }

  .portfolio0 {
    background: url("../images/portfolios/portfolio0.png");
    background-size: cover;
    width: 195px;
    height: 305px;

  }

  .portfolio1 {
    background: url("../images/portfolios/portfolio1.png");
    background-size: cover;
    width: 195px;
    height: 275px;

  }

  .portfolio2 {
    background: url("../images/portfolios/portfolio2.png");
    background-size: cover;
    width: 195px;
    height: 308px;

  }

  .portfolio3 {
    background: url("../images/portfolios/portfolio3.png");
    background-size: cover;
    width: 195px;
    height: 273px;

  }

  .portfolio4 {
    background: url("../images/portfolios/portfolio4.png");
    background-size: cover;
    width: 195px;
    height: 308px;

  }

  .portfolio_title {
    text-align: left;
    font: normal normal medium 20px/30px Roc Grotesk;
    color: #121212;
    margin-top: 15px;
  }

  .portfolio_description {
    text-align: left;
    font: normal normal medium 16px/20px Gopher;
    color: #FA7B26;
  }

  .section_members {
    width: 90vw;
    height: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30%;

  }

  .members_title {
    text-align: left;
    font: bold 4vw/0vw Roc Grotesk;
    color: #5B1BDB;
    margin-bottom: 2vw;
  }

  .flexbox_members {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .size {
    width: 15vw;
    height: 15vw;
  }

  .overlay {
    position: relative;
    width: 15vw;
    height: 15vw;
    opacity: 0;
    transition: .8s ease;
    background-color: #5B1BDB;
    text-align: center;

  }

  .text_overlay {
    line-height: 1.2vw;
    color: #ECE9E1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

@media only screen and (max-width: 520px) {
  .background_whoweare {
    position: relative;
    background: url("../images/texture/bg1.png") no-repeat center center fixed;
    background-color: #5B1BDB;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    margin: auto;
  }

  .flexbox_whoweare {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .textbox_whoweare {
    width: 80vw;
  }

  .header_whoweare {
    text-align: left;
    font: bold 5vw/5vw Roc Grotesk;
    color: #ECE9E1;
  }

  .body_whoweare {
    text-align: left;
    font: 4vw/8vw Gopher;
    color: #ECE9E1;
    margin-top: 2vw;
  }

  .button_whoweare {
    background: #FA7B26;
    text-align: center;
    font: 4vw/6vw Gopher;
    color: #ECE9E1;
    text-transform: uppercase;
    padding: 2vw 7vw;
    float: right;
    margin-top: 3vw;

  }

  .icon_select {
    position: absolute;
    margin-top: 5vw;
    margin-left: 30vw;
    width: 20vw;
    height: 20.4vw;
  }

  .illustration_splash {
    position: absolute;
    top: 6.5vw;
    left: -5vw;
    width: 42vw;
    height: 8.7vw;
    z-index: -1;
  }

  .illustration_whoarewe {
    margin-top: 25vw;
    width: 80vw;
    height: 37vw;
  }

  .flexbox_becomemember {
    margin: 0;
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .textbox_becomemember {
    width: 80vw;
    margin-top: 0;
  }

  .illustration_becomemember {
    margin-left: 0;
    width: 50vw;
    height: 65.5vw;
    margin: 0 auto;
    margin-top: 50px;

  }

  .section_events {
    width: 380px;
    margin: 0 auto;
    margin-top: 250px;
  }

  .flexbox_events {
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .box_events {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
    margin-bottom: 25px;
  }

  .event_date {
    text-align: right;
    font: bold 10px/12px gopher;
    color: #121212;
    text-transform: uppercase;
  }

  .event_image {
    background: url("../images/events/event0.jpg");
    background-size: cover;
    width: 100px;
    height: 83px;
  }

  .event_image1 {
    background: url("../images/events/event1.jpg");
    background-size: cover;
    width: 100px;
    height: 83px;
  }

  .event_image2 {
    background: url("../images/events/event2.jpg");
    background-size: cover;
    width: 100px;
    height: 83px;
  }

  .event_textbox {
    width: 250px;
    max-height: 83px;
  }

  .event_title {
    text-align: left;
    font: bold 10px/12px gopher;
    color: #121212;
    text-transform: uppercase;
  }

  .event_description {
    text-align: left;
    font: 10px/14px Gopher;
    color: #121212;
  }

  .event_button {
    text-align: left;
    font: bold 10px/12px Gopher;
    color: #121212;
  }

  .members_title {
    text-align: left;
    font: bold 20px/33px Roc Grotesk;
    color: #5B1BDB;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  .section_members {
    width: 90vw;
    height: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30%;

  }


}

@media only screen and (max-width: 480px) {

  .header-headline H1 {
    font-size: 40px;
  }

  .header-headline H3 {
    font-size: 20px;
    margin-top: -20px;
    margin-right: -150px;
  }

  /* (Mobile) CSS CODE FOR "OUR STORY" PAGE: Present time section (Coded by Vlada) */
  .background-present {
    z-index: -2;
  }

  .flex-img-text {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .flex-text {
    padding-top: 30vw;
    padding-left: 16vw;
    z-index: 2;
  }

  .text-present {
    font: 4.5vw/6vw Roc Grotesk;
  }

  .img-story {
    max-width: 100%;
  }

  .splash-present {
    top: 28vw;
    left: 13vw;
    width: 32vw;
    height: 8vw;
    z-index: -1;
  }

  /* (Mobile) END OF CSS CODE FOR "OUR STORY" PAGE: Present time section (Coded by Vlada) */

  /* (Mobile) CSS CODE FOR "OUR STORY" PAGE: Petition section (Coded by Vlada) */
  .background-support {
    height: 100vh;
  }

  .flex-img-text2 {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto;
  }

  .text-support {
    padding-top: 13vw;
    padding-left: 16vw;
    padding-right: 10vw;
  }

  .head-support {
    font: 4.5vw/6vw Roc Grotesk;
  }

  .support-text {
    font: 3vw/4.5vw Gopher;
  }

  .btn-sup {
    margin-top: 4vw;
    margin-bottom: 10vw;
    font: 2.7vw Gopher;
    width: 20%;
    padding: 8px 15px;
    text-align: center;
  }

  .splash-support {
    display: none;
  }

  .hands-sup {
    display: none;
  }

  /* (Mobile) END OF CSS CODE FOR "OUR STORY" PAGE: Petition section (Coded by Vlada) */

  /* (Mobile) CSS CODE FOR "OUR STORY" PAGE: Footer (Coded by Vlada) */
  .story-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .story-logo {
    width: 80%;
    padding-top: 10px;
  }

  .story-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .story-text {
    font: 4.5vw/6vw Gopher;
    color: #ECE9E1;
    margin-top: 50px;
  }

  .btn-story {
    margin-top: 4vw;
    width: 20%;
    font: 2.7vw Gopher;
    background: #FA7B26;
    color: #ECE9E1;
    padding: 10px 7px;
  }

  .story-contact {
    font: 3.5vw Gopher;
  }

  .story-icon {
    margin: 5px 10px;
    width: 8vw;
  }

  .copyright {
    font: 2.7vw Roc Grotesk;
  }

  /* (Mobile) END OF CSS CODE FOR "OUR STORY" PAGE: Footer (Coded by Vlada) */

  .section_portfolios {
    position: absolute;
    width: 319px;
    height: auto;
    top: 120.5vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .flexbox_portfolios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .column_portfolios {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .box_portfolio0 {
    width: 148px;
    height: 290px;
  }

  .box_portfolio1 {
    width: 148px;
    height: 267px;
  }

  .box_portfolio2 {
    width: 148px;
    height: 305px;
  }

  .box_portfolio3 {
    width: 148px;
    height: 266px;
  }

  .box_portfolio4 {
    width: 148px;
    height: 305px;
  }

  .portfolio0 {
    background: url("../images/portfolios/portfolio0.png");
    background-size: cover;
    width: 148px;
    height: 228px;

  }

  .portfolio1 {
    background: url("../images/portfolios/portfolio1.png");
    background-size: cover;
    width: 148px;
    height: 206px;

  }

  .portfolio2 {
    background: url("../images/portfolios/portfolio2.png");
    background-size: cover;
    width: 148px;
    height: 232px;

  }

  .portfolio3 {
    background: url("../images/portfolios/portfolio3.png");
    background-size: cover;
    width: 148px;
    height: 204px;

  }

  .portfolio4 {
    background: url("../images/portfolios/portfolio4.png");
    background-size: cover;
    width: 148px;
    height: 231px;

  }

  .portfolio_title {
    text-align: left;
    font: normal normal medium 12px/10px Roc Grotesk;
    color: #121212;
    margin-top: 15px;
  }

  .portfolio_description {
    text-align: left;
    font: normal normal medium 12px/16px Gopher;
    color: #FA7B26;
  }

  .section_members {
    width: 90vw;
    height: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50%;

  }



}
